{% extends '_base.html' %}
{% load static %}


{% block title %} | Home {% endblock title %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>Homepage</h1>
				<img class="arrow" src="{% static 'images/next.png' %}">
				{% if user.is_authenticated %}
					<h3>Hi {{ user.username }} さん!</h3>
					{#		<p><a href="{% url 'account_logout' %}">Log Out</a></p>#}

				{% else %}
					<p>ログインしていません</p>
					{#		<a href="{% url 'account_login'%}"> Log In </a>#}
					{#		<a href="{% url 'account_signup' %}"> Sign Up </a>#}
				{% endif %}
			</div>
			<div class="col-md-4">
				<ul class="list-group">
					<li class="list-group-item mt-2 bg-dark text-white">会社名</li>
					{% for category in category_list %}
						<li class="list-group-item ">
							<a href="">{{ category }}</a>
						</li>
					{% empty %}
						<p>登録がありません</p>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock content %}