{% extends '_base.html' %}

{% block title %}| Search{% endblock title %}

{% block content %}
	<div class="main-container">
		<div class="row">
			<div class="col-md-6">
				<h2>Search For Product </h2>
				<p>search for product name, company name, company address</p>
				<form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}" method="get">
					<input name="q" class="form-control mr-sm-2" type="text" placeholder="search" aria-label="Search">
					<button class="btn btn-info" type="submit">Search</button>
				</form>
			</div>
			<div class="col-md-6">
				<h2>Search For Obsolete Drawing</h2>
				<p>You can search for obsolete drawing</p>
				<form class="form-inline mt-2 mt-md-0" action="{% url 'search_results2' %}" method="get">
{#					<input name="q" class="form-control mr-sm-2" type="text" placeholder="廃止図面" aria-label="Search">#}
					<button class="btn btn-info" type="submit">Search</button>
				</form>
			</div>
		</div>
	</div>

{% endblock content %}